@import "tailwindcss";
@source "../../**/*.svelte";
@source "./lib/**/*.svelte";

@theme {
  --font-roboto: "Roboto", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  :root {
     scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    :root {
      scroll-behavior: auto;
    }
  }

  body {
    font-family: var(--font-roboto);
    @apply antialiased bg-gradient-to-t from-gray-950 to-gray-900 text-gray-400;
  }
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.typing-text {
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--color-gray-300);;
  width: 0;
  animation: 
    typing 3.5s steps(30, end) forwards,
    blink 0.5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: var(--color-gray-300) }
}

.fade {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3.5s;
}

@keyframes fadeIn {
  to { opacity: 1; }
}